input, textarea, select {
	font-size: 14px;
	font-family: $font-family;
	border: 0px;
	border-radius: 8px;
	padding: 13px 16px;
	background-color: var(--field-primary);
	-webkit-appearance: none;	
}


.field {
	&.search {
		padding-right: 40px;
		background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iNTEzIiBoZWlnaHQ9IjUxMyIgdmlld0JveD0iMCAwIDUxMyA1MTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik00OTAuNjcyIDUxMi41NDdDNDg1LjIxMSA1MTIuNTQ3IDQ3OS43NDkgNTEwLjQ1NiA0NzUuNTg5IDUwNi4yOTZMMzI2LjY4IDM1Ny4zODJDMzE4LjMzOCAzNDkuMDQgMzE4LjMzOCAzMzUuNTU3IDMyNi42OCAzMjcuMjE1QzMzNS4wMjEgMzE4Ljg3MyAzNDguNTA0IDMxOC44NzMgMzU2Ljg0NiAzMjcuMjE1TDUwNS43NTUgNDc2LjEyOUM1MTQuMDk3IDQ4NC40NzEgNTE0LjA5NyA0OTcuOTU0IDUwNS43NTUgNTA2LjI5NkM1MDEuNTk1IDUxMC40NTYgNDk2LjEzNCA1MTIuNTQ3IDQ5MC42NzIgNTEyLjU0N1oiIGZpbGw9IiM5QkEwQUEiLz4KPHBhdGggZD0iTTIwOC4wMDQgNDE2LjU0M0M5My4zMTM3IDQxNi41NDMgMCAzMjMuMjMyIDAgMjA4LjU0NUMwIDkzLjg1OCA5My4zMTM3IDAuNTQ2ODc1IDIwOC4wMDQgMC41NDY4NzVDMzIyLjY5NCAwLjU0Njg3NSA0MTYuMDA4IDkzLjg1OCA0MTYuMDA4IDIwOC41NDVDNDE2LjAwOCAzMjMuMjMyIDMyMi42OTQgNDE2LjU0MyAyMDguMDA0IDQxNi41NDNaTTIwOC4wMDQgNDMuMjEzMUMxMTYuODQ1IDQzLjIxMzEgNDIuNjY3NSAxMTcuMzg4IDQyLjY2NzUgMjA4LjU0NUM0Mi42Njc1IDI5OS43MDEgMTE2Ljg0NSAzNzMuODc3IDIwOC4wMDQgMzczLjg3N0MyOTkuMTYzIDM3My44NzcgMzczLjM0IDI5OS43MDEgMzczLjM0IDIwOC41NDVDMzczLjM0IDExNy4zODggMjk5LjE2MyA0My4yMTMxIDIwOC4wMDQgNDMuMjEzMVoiIGZpbGw9IiM5QkEwQUEiLz4KPC9zdmc+Cg==');
		background-size: 21px 21px;
		background-repeat: no-repeat;
		background-position: calc(100% - 16px) center;
	}
}