h1, h2, h3, h4, h5, h6, .title {
	font-size: 72px;
	font-weight: 700;
	text-align: center;
	line-height: normal;
	margin: 0px 0px 60px;
	
	// <= 980px
	@include media-table-m {
		font-size: 46px;
		margin: 0px 0px 30px;
	}

	// <= 480px
	@include media-phone-s {
		font-size: 36px;
	}
}