// colors
$brand: #3f3f3f;
$light-black-primary: #303030;
$light-blue-default-active: #4fa6cb;

$light-gray-primary: #f5f5f5;
$light-gray-secondary: #ededed;
$light-gray-tertiary: #fbfbfb;

$light-green-primary: #88dd22;
$light-red-primary: #dd222b;


// others
$radius-primary: 6px;
$transition-primary: .3s ease;
$box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.25);

$font-family: Helvetica, sans-serif;


// @media screen
$lg_m: 1440px;
$lg_s: 1280px;
$lg_xs: 1024px;

$medium_m: 980px;
$medium_s: 768px;

$small_m: 650px;
$small_s: 480px;
$small_xs: 380px;
