:root {
    --gray-primary: #{$light-gray-primary};
    --gray-secondary: #{$light-gray-secondary};
    
    --field-primary: #{$light-field-primary};
    --hover-primary: #{$light-hover-primary};

    --basic-transition-primary: .5s ease;
}
