// colors
$light-gray-primary: #f5f5f5;
$light-gray-secondary: #9ba0aa;
$light-field-primary: #f5f5f6;
$light-hover-primary: #f7f7f7;

// others
$radius-primary: 6px;
$transition-primary: .3s ease;
$transition-animation: 0.7s ease-in-out ;
$box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.25);

$font-family: 'Montserrat', 'Helvetica';


// @media screen
$lg_m: 1440px;
$lg_s: 1280px;
$lg_xs: 1024px;

$medium_m: 980px;
$medium_s: 768px;

$small_m: 767px;
$small_s: 480px;
$small_xs: 380px;
